.profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 26px;
}

@media screen and (min-width: 768px) {
  .profile__info {
    margin: 0 0 0 30px;
    flex: 1;
    align-items: flex-start;
  }
}
