.popup__close-button {
  position: absolute;
  right: 0;
  top: -40px;
  width: 26px;
  height: 26px;
  background-image: url(../../../images/plus.svg);
  transform: rotate(45deg);
  background-position: center;
  background-size: 26px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popup__close-button:focus {
  outline: none;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 600px) {
  .popup__close-button {
    background-size: 40px;
    width: 40px;
    height: 40px;
    top: -40px;
    right: -40px;
  }
}
