.popup__saveButton {
  height: 46px;
  margin-top: 45px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 2px;
  transition: opacity 0.2s ease-in-out;
}

.popup__saveButton:hover {
  opacity: 0.8;
}

@media screen and (min-width: 600px) {
  .popup__saveButton {
    font-size: 18px;
  }
}
