.elements__list {
  list-style: none;
  margin-top: 36px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 17px;
}

@media screen and (min-width: 600px) {
  .elements__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 850px) {
  .elements__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
